/* Base layout */
body {
  background-color: #000;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0p;
}

.small-col {
  max-width: 1200px;
  width: 100%;
}

/* Hero styles */
.hero-name {
  font-size: 48px;
  font-weight: 500;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: #2290DF;
  margin-bottom: 32px;
  line-height: 1;
}

.divider {
  border: none;
  border-top: 1px solid #4b5563;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 0px;
}

/* Section headings */
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 32px;
  color: #2290DF;
}


/* Experience entry */
.experience-entry {
  margin-bottom: 32px;
  margin-top: 32px;
}

.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 16px;
  width: 100%;
}

.entry-title {
  font-size: 18px;
  font-weight: bold;
  /* font weight 900 mikey likes */
  color: white;
  flex: 1;
}

.entry-date {
  font-size: 16px;
  color: white;
  white-space: nowrap;
  text-align: right;
}

.job-title {
  font-size: 16px;
  font-style: italic;
  color: white;
  flex: 1;
  font-weight: 300;
}

/* Bullet points */
.entry-bullets {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #9ca3af;
  font-size: 16px;
}


.entry-bullets li {
  position: relative;
  padding-left: 1.5em; /* space for the dash */
  margin-bottom: 4px;
}

.entry-bullets li::before {
  content: "-"; /* em dash */
  position: absolute;
  left: 0;
  color: #9ca3af;
}



/* Animation */
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeSlideUp 0.6s ease-out forwards;
  opacity: 0; /* Hide initially */
}


.entry-logo {
  max-height: 25px;
  max-width: 100px;
  height: auto;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
  margin-left: 20px;
}