/* Global Styles */
@import url(https://db.onlinewebfonts.com/c/a9db66cbaf8b1781ee08aeaae793c61b?family=NewRailAlphabet-White);
@font-face {
    font-family: "NewRailAlphabet-White";
    src: url("https://db.onlinewebfonts.com/t/a9db66cbaf8b1781ee08aeaae793c61b.eot");
    src: url("https://db.onlinewebfonts.com/t/a9db66cbaf8b1781ee08aeaae793c61b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a9db66cbaf8b1781ee08aeaae793c61b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a9db66cbaf8b1781ee08aeaae793c61b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a9db66cbaf8b1781ee08aeaae793c61b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a9db66cbaf8b1781ee08aeaae793c61b.svg#NewRailAlphabet-White")format("svg");
}
body {
  background-color: #000;
  color: white;
  font-family: "NewRailAlphabet-White";
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.small-col {
  width: 1200px;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon-row {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 4px;
}

.icon {
  width: 25px;
  height: 25px;
}

.ucirp {
  width: 50px;
  height: 50px;
}

.divider {
  border: none;
  border-top: 1px solid #4b5563;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 0px;
}

/* .footer {
  text-align: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: #9ca3af;
  font-size: 0.875rem;
}
.footer-name {
  color: #38bdf8;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
} */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0;
}

.footer-text {
  color: #9ca3af;
  font-size: 14px;
}

.footer-name {
  color: #2290DF;
  font-size: 18px;
  text-decoration: none;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: #2290DF;
}


.home-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.home-icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
}

.home-icon img:hover {
  opacity: 0.8;
}


a {
  color: white;
  text-decoration: underline; /* Optional: keep the underline */
}

a:hover {
  color: #2290DF; /* Optional: light blue on hover */
}
