/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.summary {
  display: flex;
  width: 100%;
  justify-content: center;
}

.hero-name {
  font-size: 48px;
  font-weight: 500;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: #2290DF;
  margin-bottom: 0px;
  line-height: 1;
}

.hero-description {
  font-size: 18px;
  line-height: 1.5; 
  max-width: 100%;
  margin-bottom: 1rem;
}

/* Resume Section */
.resume {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}

.resume-entry {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.resume-date {
  width: 25%;
  text-align: left;
  font-size: 16px;
  line-height: 1.5; 
  color: white;
}

.resume-content {
  width: 40%;
  text-align: left;
}

.resume-title {
  font-weight: bold;
  color: white;
  font-size: 18px;
  line-height: 1.5; 
  margin-bottom: 4px;
}

.resume-description {
  color: #9ca3af;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5; 
}

.project-image-link {
  width: 100%;
  text-align: right;
  padding-bottom: 16px;
  text-decoration: none;
}

.project-image {
  width: 30%;
  margin-left: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.project-image:hover {
  opacity: 0.8;
}

.resume-title:hover {
  color: #2290DF; 
  text-decoration: underline;
  cursor: pointer;
}

.about-link:hover {
  color: #2290DF; /* Tailwind's sky-400 */
  text-decoration: underline;
  cursor: pointer;
}


.resume-logo {
  display: block;
  margin-top: 8px;
  max-width: 200px;
  height: auto;
}

.resume-date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Animation */
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeSlideUp 0.6s ease-out forwards;
  opacity: 0; /* Hide initially */
}
